<div className="signup">
    <h1>SignUp</h1>
    <form method="POST" action="/signup">
        <label>
            <h3>Username</h3>
        </label>
        <input type="text" name="username" placeholder="Enter Username" />
        <label>
            <h3>Email</h3>
        </label>
        <input type="email" name="email" placeholder="Enter your email" />
        <label>
            <h3>Password</h3>
        </label>
        <input type="password" placeholder="Enter Password" />
        <button type="submit" style="align-self:center">SignUp</button>
        <Link to="/signin">SignIn</Link>
    </form>
</div>