.App {
  text-align: center;
  background-color: "rgb(71, 111, 112)" 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.showcase{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}
.showcase h1{
        font-size: 4rem;
        padding: 2rem;
}
.showcase h2 {
    font-size: 2rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* @media screen and (max-width:780px){.gift-cards{grid-template-columns:1fr}
  footer .footer-cols{display:none}
  } */
  @media (max-width: 780px){
.showcase p.lead{display:none}
 .z li.x{display: none;}
 footer{display: none;}
 .container .gift-cards{flex-direction: column; justify-content: left;}
}

@media (max-width: 580px){
.showcase p.lead{display:none}
 .z li.x{display: none;}
}


.gift-cards{
  display: flex;
  flex-direction: row;
  text-align: left;
}
.foote{
  display: flex;
  flex-direction: row;
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}
.footer-cols{
  display: flex;
  flex-direction:column ;
}
ul{
  list-style: none;
  flex:1;
}
li{
      color: #ccc;
}
hr{
  color: black;
}