.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signup,.signin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:95%;
  min-width: 30%;
height: 85vh;
}
form{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
button{
  color: white;
  background-color: #4caf50;
  border: none;
  padding: 1rem;
  margin: 1rem;
 float: center;
}
input{
  padding: 0.90rem;
  width: 100%;
  border: none;
}